---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
		<h2 class="text-2xl">Welcome to my site!</h2>
		<p class="mt-4">
			Ladies and gentlemen, gather 'round the digital campfire, where firewalls are our marshmallow-roasting champions, and encryption algorithms play a game of hide-and-seek with hackers. Today, we're joined by a cybersecurity superhero, a code-crushing, firewall-fortifying maestro who dances with danger in the moonlight of binary code. Picture them as the James Bond of the digital realm, armed not with gadgets, but with an arsenal of patches and a keyboard mightier than any sword.
			
			In a world where passwords are the gatekeepers to our secrets, and malware lurks in the shadows like a mischievous poltergeist, our cybersecurity professional is the wizard who casts spells to keep the dark forces at bay. They're the Sherlock Holmes of the cyber universe, always one step ahead of the game, solving mysteries that involve more zeros and ones than a binary crossword puzzle.
			
			So, buckle up, because today we're diving into the world of cybersecurity with our guide, the guardian of the digital galaxy, where the only thing scarier than a computer virus is a Monday without coffee. Let's give a virtual round of applause to the defender of data, the protector of passwords – our cybersecurity maestro, Alec!</p>
			<p>Check out my <a href="/blog" class="text-blue-500">blog</a> where I talk about tech and cyber security related issues.</p>
</Layout>

<style>


	main {
		line-height: 1.6;
	}

	p {
		margin-bottom: 30px;
	}

</style>
