---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
		<h2 class="text-2xl">Welcome to my site</h2>
		<p class="mt-4">Placeholder text</p>
</Layout>

<style>


	main {
		line-height: 1.6;
	}


</style>
